// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
@import "./node_modules/bootstrap/scss/bootstrap.scss";

// Then add additional custom code here
@import url('https://fonts.googleapis.com/css2?family=Antonio&family=League+Spartan&display=swap');
$antonio: 'Antonio', sans-serif;
$partan: 'League Spartan', sans-serif;
$color1: #FFFFFF;
$bgc_body: #070724;
$color3: #38384F;
$color4: #838391;
$mercurycolor: #419EBB;
$venuscolor: #EDA249;
$earthcolor: #6D2ED5;
$marscolor: #D14C32;
$jupitercolor: #D83A34;
$saturncolor: #CD5120;
$uranuscolor: #1EC1A2;
$naptunecolo: #2D68F0;

.div_for_planet_img {
    width: 100%;
    position: relative;
}

#all_planet_img {
    width: 50%;
}

.psedo_mercury::after {
    left: 25%;
    bottom: 0;
    content: "";
    width: 50%;
    height: 50%;
    transform: translateY(50%);
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(assets/geology-mercury.png);
}

.mercury_color {
    border-bottom-color: $mercurycolor !important;
}

.psedo_venus::after {
    left: 25%;
    bottom: 0;
    content: "";
    width: 50%;
    height: 50%;
    transform: translateY(50%);
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(assets/geology-venus.png);
}

.venus_color {
    border-bottom-color: $venuscolor !important;
}

.psedo_earth::after {
    left: 25%;
    bottom: 0;
    content: "";
    width: 50%;
    height: 50%;
    transform: translateY(50%);
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(assets/geology-earth.png);
}

.earth_color {
    border-bottom-color: $earthcolor !important;
}

.psedo_mars::after {
    left: 25%;
    bottom: 0;
    content: "";
    width: 50%;
    height: 50%;
    transform: translateY(50%);
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(assets/geology-mars.png);
}

.mars_color {
    border-bottom-color: $marscolor !important;
}

.psedo_jupiter::after {
    left: 25%;
    bottom: 0;
    content: "";
    width: 50%;
    height: 50%;
    transform: translateY(50%);
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(assets/geology-jupiter.png);
}

.jupiter_color {
    border-bottom-color: $jupitercolor !important;
}

.psedo_saturn::after {
    left: 25%;
    bottom: 0;
    content: "";
    width: 50%;
    height: 50%;
    transform: translateY(50%);
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(assets/geology-saturn.png);
}

.saturn_color {
    border-bottom-color: $saturncolor !important;
}

.psedo_uranus::after {
    left: 25%;
    bottom: 0;
    content: "";
    width: 50%;
    height: 50%;
    transform: translateY(50%);
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(assets/geology-uranus.png);
}

.uranus_color {
    border-bottom-color: $uranuscolor !important;
}

.psedo_neptune::after {
    left: 25%;
    bottom: 0;
    content: "";
    width: 50%;
    height: 50%;
    transform: translateY(50%);
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(assets/geology-neptune.png);
}

.neptune_color {
    border-bottom-color: $naptunecolo !important;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: $bgc_body;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(assets/background-stars.svg);

    header {
        img {
            width: 2rem;
        }
    }

    main {
        width: 100%;
    }

    p {
        font-family: $partan;
    }

    h1 {
        font-family: $antonio;
    }

    h2 {
        font-family: $antonio;
    }

    h3 {
        font-family: $antonio;
    }
}

@media (min-width:500px) {
    #all_planet_img {
        width: 30%;
    }
}