// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
@import "./node_modules/bootstrap/scss/bootstrap.scss";

// Then add additional custom code here
@import url('https://fonts.googleapis.com/css2?family=Antonio&family=League+Spartan&display=swap');
$antonio: 'Antonio', sans-serif;
$partan: 'League Spartan', sans-serif;
$color1: #FFFFFF;
$bgc_body: #070724;
$color3: #38384F;
$color4: #838391;
$mercurycolor: #419EBB;
$venuscolor: #EDA249;
$earthcolor: #6D2ED5;
$marscolor: #D14C32;
$jupitercolor: #D83A34;
$saturncolor: #CD5120;
$uranuscolor: #1EC1A2;
$naptunecolo: #2D68F0;

.planetsize {
    width: 240px;
    height: 240px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(assets/planet-mercury.svg);
}

.psedo::after {
    left: 23%;
    bottom: 0;
    content: "";
    width: 130px;
    height: 130px;
    position: absolute;
    background-size: contain;
    transform: translateY(40%);
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(assets/geology-mercury.png);
}

.mercurycolor {
    border-bottom-color: $mercurycolor !important;
}

.venuscolor {
    border-bottom-color: $venuscolor !important;
}

.earthcolor {
    border-bottom-color: $earthcolor !important;
}

.marscolor {
    border-bottom-color: $marscolor !important;
}

.jupitercolor {
    border-bottom-color: $jupitercolor !important;
}

.saturncolor {
    border-bottom-color: $saturncolor !important;
}

.uranuscolor {
    border-bottom-color: $uranuscolor !important;
}

.naptunecolor {
    border-bottom-color: $naptunecolo !important;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: $bgc_body;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(assets/background-stars.svg);

    header {
        img {
            width: 2em;
        }
    }

    p {
        font-family: $partan;
    }

    h1 {
        font-family: $antonio;
    }

    h2 {
        font-family: $antonio;
    }

    h3 {
        font-family: $antonio;
    }
}